
            /* body {
                  font-family: sans-serif;
                  font-size: 0.9em;
            } */

            /* table {
                  border-collapse: collapse;
                  border-bottom: 1px solid #ddd;
            } */

            /* thead {
                  background-color: #333;
                  color: #fff;
            } */

            thead,
            tbody {
                  display: block;
            }

            th,
            td {
                  padding: 8px 10px;
                  /* border: 1px solid #ddd; */
                  width: 140px;
                  /* box-sizing: border-box; */
            }

            tbody {
                  
                  max-height: 60vh;
                  overflow-y: scroll
            }